 /*this will remove the right-hand sidebar*/
.md-sidebar--secondary{
    display: none;
}
.md-content{
    margin-right: 0;
}

.md-grid {
    max-width: 100%;
    margin-right: 0;
  }

/*some "When the screen is big" logic */
@media only screen and (min-width: 1200px){
  /**
  * this makes the duplicated nav header disappear, 
  * it's v important that it reappears for small screens 
  * as it gives the back-navigation button
  */

.md-content{
  margin-right: 20%;
}

.md-sidebar--secondary{
    display: inherit;
}


.admonition.note {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.admonition.abstract {
  margin: 0 auto;
  width: 60%;
}

.admonition.info {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.admonition.todo {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.admonition.tip {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.admonition.success {
  margin: 0 auto;
  width: 60%;
}

.admonition.question {
  margin: 0 auto;
  width: 60%;
}

.admonition.warning {
  margin: 0 auto;
  width: 60%;
}

.admonition.failure {
  margin: 0 auto;
  width: 60%;
}

.admonition.danger {
  margin: 0 auto;
  width: 60%;
}

.admonition.bug {
  margin: 0 auto;
  width: 60%;
}

.admonition.danger {
  margin: 0 auto;
  width: 60%;
}
.admonition.example {
  margin: 0 auto;
  width: 60%;
}
.admonition.quote {
  margin: 0 auto;
  width: 60%;
}

.md-grid {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .md-nav__title{
    display: none;
    opacity: 0;
  }

  /*this makes the parent header of a navigation list section have a bold style*/
  label.md-nav__link {
    font-weight: bold;
  }

  /*this ensures normal font style of a navigation list item*/
  .md-nav__list {
    font-weight: normal;
  }

  .nav.navbar-nav li:first-child{
    display: none;
    opacity: 0;
  }

  .md-tabs{
    text-transform: uppercase;
  }
}

/*some "When the screen is big" logic */
@media only screen and (max-width: 800px){
  /**
  * this makes the duplicated nav header disappear, 
  * it's v important that it reappears for small screens 
  * as it gives the back-navigation button
  */

.md-grid {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  /*this makes the parent header of a navigation list section have a bold style*/
  label.md-nav__link {
    font-weight: bold;
  }

  /*this ensures normal font style of a navigation list item*/
  .md-nav__list {
    font-weight: normal;
  }

  .md-tabs{
    text-transform: uppercase;
  }
}

h2 {
  width:100%;
  text-align: center;
  display: inline-block;
}

/*make all tables full width*/
.md-typeset__table{
  width: 100%;
}

.md-typeset h1 {
  width:100%;
  font-size: 2.75rem;
  text-align: center;
  display: inline-block;
}

img[src*='#left'] { 
  float: left;
}
img[src*='#right'] { 
  float: right;
}
img[src*='#center'] { 
  display: block; 
  margin: auto; 
}
img[src*='#fill-center'] { 
  display: block; 
  margin: auto; 
  width: 100%;
}

#slider article {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.slide-left, .slide-right {
  top: 14rem;
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
}

.slide-left { left: 1rem; }

.slide-right { right: 1rem; }

#slider article h1 {
  font-size: 2rem;
  text-align: center;
}

#slider article p { text-align: center; }

#slider article:nth-of-type(1) {
  color: white;
}

#slider article:nth-of-type(2) {
  color: white;
}

#slider article:nth-of-type(3) {
  position: relative;
}

#slider article:nth-of-type(3) div { z-index: 2; }

#slider article:nth-of-type(3) video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


/*<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>*/