@media only screen and (min-width: 1200px){
  /*this will remove the right-hand sidebar*/
  .md-sidebar--secondary{
    display: none;
  }
}

.ic_container{
  margin:auto; 
  align-content: center;
  position: relative;
  z-index: 0;
  flex-direction: row;
}

.ic_row {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  position: relative;
  align-content: center;
}

/* Float columns side by side */
.ic_column {
  align-content: center;
  vertical-align: middle;
  float: left;
  z-index:1;
  flex:1;
  position: relative;
}

.ic_column:hover .ic_image {
  opacity: 0.3;
}

.ic_column:hover .ic_middle {
  opacity: 1;
}

/* this adds the "card" effect */
.ic_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  z-index: 2;
  position: relative;
}

.ic_card:hover .ic_overlay {
  opacity: 1;
}

.ic_image {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  z-index: 3;
  transition: .5s ease;
  backface-visibility: hidden;
}

.ic_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 998;
  transition: .5s ease;
  background-color: #008CBA;
}

.rig_overlay_content{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: #FFFFFF;
}

.text {
  text-align: justify;
  color: white;
  font-size: 20px;
  z-index: 999;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ic_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.md-typeset__table{
  width:100%;
}

.md-content{
  margin-right: 0;
}

.md-grid {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0; 
}

/* Style the counter cards */


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .ic_container {
    display: block;
    margin-bottom: 20px;
  }
}

#rig {
    text-align: center;
    float: left;
    margin:2px auto; /*center aligned*/
    list-style:none;
    width: 100%;
    background: #FFFFFF;
}

#rig li {
    text-align: center;
    display: inline-block;
    width:33%;
    vertical-align:middle;
    box-sizing:border-box;
}
        
/* The wrapper for each item */
.rig-cell {
    width: 100%;
    height: 100%;
    padding: 3px;
    margin: 12px;
    position: relative;
    overflow: hidden;
}
        
/* If have the image layer */
.rig-img {
    display:inline-block;
    height: 100%;
    width: 100%;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
    background-color: #008CBA;
    z-index: 998;
    border-radius: 25px;
}
#rig li:hover .rig-overlay {
    opacity:0.9;
}

#rig a {
    color: #ffffff; 
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    transform:translateY(-20px);
    transition:all .3s;
    z-index: 999;
}

#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 300px) {
    #rig li {
        width:50%;
    }
}